USE [master]
GO
/****** Object:  Database [NoelPrueba]    Script Date: 20/11/2021 9:50:37 a. m. ******/
CREATE DATABASE [NoelPrueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NoelPrueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NoelPrueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NoelPrueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NoelPrueba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NoelPrueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NoelPrueba]
GO
/****** Object:  User [noeldrums17]    Script Date: 20/11/2021 9:50:38 a. m. ******/
CREATE USER [noeldrums17] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 20/11/2021 9:50:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[FechaDeNacimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([Id], [Nombre], [FechaDeNacimiento]) VALUES (1, N'Noel Ortiz', CAST(N'1999-02-17' AS Date))
INSERT [dbo].[Persona] ([Id], [Nombre], [FechaDeNacimiento]) VALUES (3, N'pedro martinez', CAST(N'1973-04-12' AS Date))
INSERT [dbo].[Persona] ([Id], [Nombre], [FechaDeNacimiento]) VALUES (4, N'Manuel Polanco', CAST(N'2021-11-01' AS Date))
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
USE [master]
GO
